<ion-header>
    <ion-navbar>
        <ion-title>
            Create an Account
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" >Cancel</span>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="register-content" padding>
    <div class="login-box">
        
        <form (ngSubmit)="register()" #registerForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        
                        <ion-item>
                            <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="registerCredentials.username" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="text" placeholder="First" name="first" [(ngModel)]="registerCredentials.first" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="text" placeholder="Last" name="last" [(ngModel)]="registerCredentials.last" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="text" placeholder="Age" name="age" [(ngModel)]="registerCredentials.age" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="text" placeholder="Location" name="location" [(ngModel)]="registerCredentials.location" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-input type="text" placeholder="Email" name="email" [(ngModel)]="registerCredentials.email" required></ion-input>
                        </ion-item>
                        
                        <ion-item>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
                        </ion-item>
                        
                    </ion-list>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Register</button>
                </ion-col>
            </ion-row>
            
        </form>
    </div>
</ion-content>