page-register {
    .register-content {
    .scroll-content{
        background: url("../assets/images/XchangeBackgroundImage.png") no-repeat center    center  fixed !important;
        webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
    }

    .logo-text-body { text-align: center;}
 

 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         padding-left: 30px !important;
         font-size: 0.9em;
         color: back;
         margin-bottom: 10px;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: map-get($colors, btn-background);
       color: black;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
  }
}
