<ion-header>
  <ion-navbar color="primary">
    <ion-title>
        My Lawn Chair
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div id="container">
		<img class = "slide" src = "https://www.woodgears.ca/lawn_chairs/lc01.jpg"/>
		<img class = "slide" src = "http://www.backintheusastore.com/sc_images/categories/221_large_image-sca1-1000.jpg"/>
		<img class = "slide" src = "https://i.ytimg.com/vi/IbTZPaPufAY/hqdefault.jpg"/>
		<img class = "slide" src = "https://s-media-cache-ak0.pinimg.com/originals/f2/dd/b2/f2ddb28887c99af76af51ed9b356393c.jpg"/>
		<button class="btn" onclick="plusIndex(-1)" id="btn1">&#10094;</button>
		<button class="btn" onclick="plusIndex(1)" id="btn2">&#10095;</button>
	</div>	
    
    <div class = "sellerName">
        <h3>Seller's Profile: Dan Smiths</h3>
        <h4>Rating: &#9733;&#9733;&#9733;&#9734;&#9734;</h4>
    </div>

    <div class = "desc">
        <h2> Description:</h2>
        <p>_____________________________
			_____________________________
			_____________________________
		</p>
            <ion-icon name = "chatboxes" item-left></ion-icon>
            Comments
			
    </div>
	<div class = "buy">
		<button ion-button clear item-right (click)="viewItem(item)">Buy Now</button>
	</div>
    
    <script>
		var index = 1;
		
		function plusIndex(n)
		{
			index = index + n;
			showImage(index);
		}
		
		showImage(2);
		
		function showImage(n)
		{
			var i;
			var x = document.getElementsByClassName("slide");
			
			if(n > x.length){ index = 1 }
			if(n < 1){ index = x.length }
			
			for(i=0;i<x.length;i++)
			{
				x[i].style.display = "none";
			}
			x[index-1].style.display = "block";
		}
	</script>
    
</ion-content>