ion-card img {
    margin: auto;
    width: 15vw;
    height: 15vw;
    border-radius: 50%; // half for rounding */
    object-fit: cover; /* Scale the image - Center and crop image*/
    object-position: center; /* Center the image within the element - Center and crop image*/
}

.header{
    float:right;
}

.content img{
    height: 250px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#container
{
    width: 90%;
    height: 250px;
    border: 1px solid black;
    position: absolute;
}

#container>img
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#userpic
{
    position: absolute;
    left: 10%;
    top: 30%; 
    transform: translate(-50%, -35%);
    height: 50px;
    width: 50px;
}

#img2
{
    position: absolute;
    left: 50%;
    top: 100%; 
    transform: translate(-49%, -40%);
    height: 200px;
    width: 250px;
}

.titles
{
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    left: 50%;
    top: 60%; 
    transform: translate(-49%, -50%);
    height: 40px;
    width: 300px;
    //border: solid purple;
}

.sellerName
{
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    left: 0%;
    top: 60%; 
    transform: translate(5%, -30%);
    height: 100px;
    width: 300px;
    //border: solid yellow;
}
.desc
{
    font-family: Optima, ‘Lucida Grande’, ‘Lucida Sans Unicode’, Verdana, Helvetica, Arial, sans-serif;
    position: absolute;
    left: 0%;
    top: 90%; 
    transform: translate(5%, -60%);
    height: 150px;
    width: 300px;
    //border: solid red;
}

.buy
{
    position: absolute;
    left: 25%;
    top: 100%; 
    transform: translate(25%, 50%);
    height: 50px;
    width: 100px;
    border: solid dodgerblue;
}

#container>.btn
{
	position: absolute;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 20px;
	top: 120px;
	background: black;
	color: white;
	font-size: 10px;
}

#container>#btn1:hover
{
	box-shadow: 10px 0px 20px 0px black;
}

#container>#btn2:hover
{
	box-shadow: -10px 0px 20px 0px black;
}

#container>#btn2
{
	position: relative;
	float: right;
}