<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
    <ion-buttons end>
        <button ion-button (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--dafsdfasdfa-->

<ion-content class="page1-content" padding>
    
    <div class = "modal">
        <button ion-button clear item-right (click)="viewItem(item)">Become A Seller</button>
    </div>
    
    <div id="container2">
        <img src = "http://www.rutlandherald.com/wp-content/uploads/2017/03/default-user.png"/>
        
    </div>
    
    <div class = "profile">
        First Name : &emsp;&emsp;<input id = "name" size = "30" type = "text" value = "{{first}}"> <br><br>
            
        Last Name : &emsp;<input id = "address" size = "30" type = "text" value = "{{last}}"> <br><br>
                
        City : &emsp;&emsp;&nbsp;&nbsp;&nbsp;<input id = "city" size = "30" type = "text" value = "{{location}}"> <br><br>
                    
        Age : &emsp;&emsp;&nbsp;&nbsp;&nbsp;<input id = "city" size = "30" type = "text" value = "{{age}}"> <br><br>
                    
        Username : &nbsp;<input id = "user" size = "30" type = "text" value = "{{username}}"> <br><br>
                        
        Password : &nbsp;&nbsp;<input id = "password" size = "30" type = "text" value = "{{password}}"> <br><br>
                            
        Confirm Password : &emsp;<input id = "cpass" size = "30" type = "text" value = "{{password}}"> <br>
            
    </div>
    
    <div class = "save">
        <button ion-button clear item-right (click)="viewItem(item)">Save</button>
    </div>
    
</ion-content>
