page-login {
    .scroll-content{
        background: url("../assets/images/XchangeLoginBackground.png") no-repeat center    center fixed !important;
        webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
    }

#logo {
width: 100px;
display: block;
height: 75px;
margin: auto;
position: relative;
top: 0px;
}

.title {
position: fixed;
left: 145px;
color: #387ef5;
}

    .login-content {
//      background: map-get($colors, background);




    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 


    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         background-color: transparent;
         padding-left: 30px !important;
         font-size: 0.9em;
         color: black;
         margin-bottom: 10px;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
        box-shadow: none !important;
     }

 
     .submit-btn {
       background: map-get($colors, btn-background);
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       background: map-get($colors, btn-background);
       border-radius: 30px !important;
       border: 1px solid #ffffff;
       color: white;
       font-size: 0.8em;
     }
  }   
}
