<ion-content class="login-content" padding>
    <!--<ion-row class="title" text-center>
        <h1>XChange</h1>
    </ion-row>-->
    <ion-row class="logo-row">
        <img id="logo" src="../assets/images/logo2" >
    </ion-row>
    <div class="login-box">
        <form (ngSubmit)="login()" #registerForm="ngForm">
            <ion-row>
                <ion-col>
                    <ion-list inset>
                        <!---tesffffffasdfffdf-->
                        <ion-item>
                            <ion-icon name="person" item-left></ion-icon>
                            <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="registerCredentials.username" required></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-icon name="lock" item-left></ion-icon>
                            <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="registerCredentials.password" required></ion-input>
                        </ion-item>
                        
                    </ion-list>
                </ion-col>
            </ion-row>
            <!-- Testing bitbucket -->
            <ion-row>
                <ion-col class="signup-col">
                    <button ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">Login</button>
                    <button ion-button class="register-btn" block clear (click)="openModal()">Create New Account</button>
                </ion-col>
            </ion-row>
            
        </form>
    </div>
</ion-content>
